footer(class="footer")
  div(class="container")
    div(class="row")
      div(class="col-12")
        div(class="block-center text-center")
          a(class="logo-footer" href="/")
            img(class="logo" src="./assets/images/logo.png" alt="Karrot Exchange" data-aos="fade-up")
          p © 2024 Karrot Exchange. All rights reserved.
