nav(class="navbar" role="navigation" aria-label="main navigation")
  div(class="container")
    div(class="navbar-brand")
      a(class="navbar-item" href="https://karrot.exchange" title="Karrot Exchange")
        img(class="logo" src="./assets/images/logo.svg" alt="Karrot Exchange")
      a(role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar")
        svg(aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
          path(fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" )

    div(id="navbar" class="navbar-menu")
      div(class="navbar-nav")
        a(class="navbar-item" title="Contact" href="https://docs.karrot.exchange/others/contact" target="_blank") Contact
        a(class="navbar-item" title="FAQs" href="https://docs.karrot.exchange/faqs" target="_blank") FAQs
        a(class="navbar-item" title="Products" href="https://docs.karrot.exchange/" target="_blank") Docs

    div(class="button-wrapper")
      a(class="button" href="https://app.karrot.exchange" target="_blank") Launch dApp
