div(class="preloading-wrap" id="preloading")
  .preloading-inner
    .spinner-box
      .solar-system
        .earth-orbit.orbit
          .planet.earth
          .venus-orbit.orbit
            .planet.venus
            .mercury-orbit.orbit
              .planet.mercury
              .sun
