section(class="section-roadmap mb-7")
  div(class="container")
    h2(class="heading heading--lg text-uppercase mb-7" data-aos="fade-up") Roadmap
    div(class="roadmap-wrapper" data-aos="fade-up")
      div(class="roadmap-line")
      div(class="roadmap-content")
        div(class="roadmap-item current")
          span(class="roadmap-item__dot")
          div(class="roadmap-item__content")
            h3(class="heading heading--sm") Q2/2023
            p Launch Karrot Exchange Testnet on Starknet.
        div(class="roadmap-item")
          div(class="roadmap-item__content")
            h3(class="heading heading--sm") Q3/2023
            p Audit Contract and Launch Mainnet.
        div(class="roadmap-item")
          div(class="roadmap-item__content")
            h3(class="heading heading--sm") Q4/2023
            p Release Karrot Exchange v2 (Concentrated Liquidity AMM).
