section(class="section-features mb-7")
  div(class="container")
    h2(class="heading heading--lg text-uppercase" data-aos="fade-up") Key<br/> Features
    div(class="feature-wrapper")
      div(class="feature-content" data-aos="fade-right")
        span(class="sub-heading text-uppercase") Features
        h2(class="heading heading--md") Extensibility
        div(class="flex")
          img(class="star-img" src="./assets/images/star.png", alt="star")
          p Automated Strategies
        p Use extensions to create new order types, automated strategies, oracles, and whatever else you can imagine.
      img(class="feature-img" src="./assets/images/bunny-1.png" data-aos="fade-left" alt="Extensibility")

    div(class="feature-wrapper")
      img(class="feature-img" src="./assets/images/bunny-2.png" data-aos="fade-right" alt="Lowest Fees")
      div(class="feature-content" data-aos="fade-left")
        span(class="sub-heading text-uppercase") Features
        h2(class="heading heading--md") Lowest Fees
        div(class="flex")
          img(class="star-img" src="./assets/images/star.png", alt="star")
          p Highly Optimized
        p Karrot Exchange is highly optimized for Starknet, providing the lowest gas fees for swappers and liquidity providers.

    div(class="feature-wrapper")
      div(class="feature-content" data-aos="fade-right")
        span(class="sub-heading text-uppercase") Features
        h2(class="heading heading--md") Super-concentrated liquidity
        div(class="flex")
          img(class="star-img" src="./assets/images/star.png", alt="star")
          p Up To 100x More Capital Efficient
        p Positions in Karrot Exchange can be up to 100x more capital efficient than ever before. Use super-concentrated liquidity to win all the stablecoin volume.
      img(class="feature-img" src="./assets/images/bunny-3.png" data-aos="fade-left" alt="Super-concentrated liquidity")
