section(class="section-hero" id="hero")
  div(class="container hero-inner")
    h2(class="text-uppercase text-center" data-aos="fade-up" data-aos-delay="200") We are selling a bunch of
    h1(class="text-uppercase text-center" data-aos="fade-up" data-aos-delay="400") Karrot
  div(data-aos="flip-down" data-aos-delay="600" data-aos-offset="0")
    img(class="cover-img" src="./assets/images/hero-bunny.png")
  div(class="blur-circle circle-1")
  div(class="blur-circle circle-2")
