/* @font-face {
    font-family: 'Akira Expanded';
    src: local('Akira Expanded'), local('AkiraExpanded'),
        url('Akira_Expanded.woff2') format('woff2'),
        url('Akira_Expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 */
@font-face {
  font-family: 'Kritik-Trial';
  src: url('Kritik-Trial-Bold.woff2') format('woff2'),
    url('Kritik-Trial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kritik-Trial';
  src: url('Kritik-Trial-Regular.woff2') format('woff2'),
    url('Kritik-Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
